<!DOCTYPE html>
<html lang="en">
<head>
    <title>VodQA, Hyderabad</title>
    <style>
        * {
            font-family: 'DejaVu Sans Mono', monospace;
            font-size: 20pt;
        }

        table, td {
            border: dotted gray 1px;
        }

        .sql {
            background-color: bisque;
        }
        li {
            padding: 20px;
        }
    </style>

</head>
<body>
<ul>
    <li><a href="/greeting">XSS Demo</a> </li>
    <li><a href="/contacts">SQL Injection</a> </li>
    <li><a href="/contactSecure">SQL Injection - Another</a> </li>
</ul>
</body>
</html>